@CHARSET "GBK";
/* CSS Document */
#top { /*index.jsp顶部装饰：下边框，分割线*/
	border-bottom-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

html, body, #iframe { /*index.jsp为了调整iframe的高度*/
	height: 95%;
}

dt { /*导航栏中大项目装饰*/
	cursor: pointer;
}

dt, dd { /*导航栏中大小项目装饰*/
	white-space: nowrap;
}

dd a { /*导航栏中小项目的链接装饰*/
	text-decoration: none;
	display: block;
	padding: 5px;
	font-weight: bold;
	color: gray;
}

a:HOVER { /*导航栏中小项目的链接装饰(当链接被激活时)*/
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

table { /*queries公司简介的表格*/
	border-collapse: collapse;
}

#gradeCourse { /*表单菜单域（列表）：选择课程*/
	width: 77px;
}

#courseDetail { /*已选课程按钮的结果；课程详情*/
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	position: absolute;
	width: 40%;
	z-index: 1;
	background-color: #fcfcfc;
	left: 33%;
	overflow: auto;
	display: none;
	height: 30%;
}

#closeGradeDetail { /*关闭班级详情的按钮*/
	cursor: pointer;
	font-size: small;
	font-weight: bolder;
}