@CHARSET "GBK";

#bottom, a { /*底部*/
	background-image: url("../images/bottomBg.jpg");
	text-decoration: none;
	color: #7d7d7d;
}

table a:HOVER { /*底部动态*/
	color: black;
}

#copy {
	font-size: small;
}

#bottom th {
	font-size: medium;
}